defaultEntryPoints = ["http", "https"]
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.https.tls]

[acme]
email = "admin@piratenpartei.ch"
storage = "/var/lib/traefik/acme.json" 
entryPoint = "https"
acmeLogging = true

onDemand = true

[[acme.domains]]
   main = "traefik.piratenpartei.ch"
