     - name: start mysql container
       docker_container:
         image: "mysql:5"
         name: "press-crm-mysql"
         state: started
         pull: True
         volumes:
           - /data/mysql/press-crm:/var/lib/mysql
         env:
           MYSQL_ROOT_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/mysql/root:value') }}"
           MYSQL_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/press-crm/mysql/password:value') }}"
           MYSQL_USER="press-crm"
           MYSQL_DATABASE="press-crm"

     - name: start second mysql container
       docker_container:
         image: "mysql:5"
         name: "press-crm-mysql-civi"
         state: started
         pull: True
         volumes:
           - /data/mysql/press-crm-civi:/var/lib/mysql
         env:
           MYSQL_ROOT_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/mysql/root:value') }}"
           MYSQL_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/press-crm/mysql/password:value') }}"
           MYSQL_USER="press-crm"
           MYSQL_DATABASE="press-crm-civi"

     - name: start civicrm container
       docker_container:
         image: ppschweiz/wordpress
         name: "press-crm"
         labels:
          "traefik.enable": "true"
         state: started
         pull: True
         links:
           - press-crm-mysql:mysql
           - press-crm-mysql-civi:mysql-civi
         volumes:
           - /data/files/press-crm/:/var/www/html
         env:
           WORDPRESS_DB_NAME="press-crm"
           WORDPRESS_DB_USER="press-crm"
           WORDPRESS_DB_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/press-crm/mysql/password:value') }}"

     - name: start civicrm croncontainer
       docker_container:
         image: ppschweiz/wordpress
         name: "press-crm-cron"
         state: started
         pull: True
         links:
           - press-crm-mysql:mysql
           - press-crm-mysql-civi:mysql-civi
         volumes:
           - /data/files/press-crm/:/var/www/html
         command: /var/www/html/startjobs.sh
         env:
           WORDPRESS_DB_NAME="press-crm"
           WORDPRESS_DB_USER="press-crm"
           WORDPRESS_DB_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/press-crm/mysql/password:value') }}"

     - name: start backup container for first mysql container
       docker_container:
         image: yloeffler/mysql-backup
         name: "press-crm-backup"
         state: started
         pull: True
         links:
           - press-crm-mysql:mysql
         volumes:
           - /data/mysql-backup/press-crm/:/backup
         env:
           MAX_BACKUPS=3

     - name: start backup container for second mysql container
       docker_container:
         image: yloeffler/mysql-backup
         name: "press-crm-civi-backup"
         state: started
         pull: True
         links:
           - press-crm-mysql-civi:mysql
         volumes:
           - /data/mysql-backup/press-crm-civi/:/backup
         env:
           MAX_BACKUPS=3
