     - name: start mysql container
       docker_container:
         image: "mysql:5"
         name: "projects-mysql"
         state: started
         restart_policy: always
         pull: True
         volumes:
           - /data/mysql/projects:/var/lib/mysql
         env:
           MYSQL_RANDOM_ROOT_PASSWORD="true"
           MYSQL_ONETIME_PASSWORD="true"
           MYSQL_PASSWORD="{{ lookup('hashi_vault', 'secret=secret/projects/mysql/password:value') }}"
           MYSQL_USER="projects"
           MYSQL_DATABASE="projects"

     - name: start projects/redmine container
       docker_container:
         image: ppschweiz/redmine
         name: "projects"
         restart_policy: always
         labels:
          "traefik.enable": "true"
         state: started
         pull: True
         links:
           - projects-mysql:mysql
         volumes:
           - /data/files/projects/:/home/redmine/data/
         env:
           DB_HOST="mysql"
           DB_USER="projects"
           DB_PASS="{{ lookup('hashi_vault', 'secret=secret/projects/mysql/password:value') }}"
           DB_NAME="projects"
           DB_TYPE="mysql"
           REDMINE_HTTPS="true"
           REDMINE_ATTACHMENTS_DIR="/home/redmine/data/files"
           NGINX_MAX_UPLOAD_SIZE="1024m"
           SMTP_HOST="mail-1-p.piratenpartei.ch"
           SMTP_PORT="25"
           SMTP_ENABLED="true"

     - name: start backup container for first mysql container
       docker_container:
         image: yloeffler/mysql-backup
         name: "projects-backup"
         state: started
         restart_policy: always
         pull: True
         links:
           - projects-mysql:mysql
         volumes:
           - /data/mysql-backup/projects/:/backup
         env:
           MYSQL_PASS="{{ lookup('hashi_vault', 'secret=secret/projects/mysql/password:value') }}"
           MAX_BACKUPS=3
