- name: Docker configuration
  hosts: coreos
  tasks:
    - name: "enable docker service"
      systemd:
        state: started
        enabled: yes
        name: docker.service
    - include: container-traefik.yaml
    - include: container-api.yaml
    - include: container-press-crm.yaml
    - include: container-members-crm.yaml
    - include: container-mumble.yaml
    - include: container-mail.yaml
    - include: container-backup.yaml
    - include: container-projects.yaml
    - include: container-otrs.yaml
